{% if controllers %}
    These are your current controllers:<br>
    <table>
    <tr>
        <th>Brand</th><th>Controller Name</th><th>IP Address</th><th>Manage</th>
    </tr>
    {% for bridge in controllers %}
        <tr>
            <td>{{ bridge.api }}</td>
            <td>{{ bridge.name }}</td>
            <td>{{ bridge.ip_address }}</td>
            <td>
                <form method="post" action="{% url 'm2m:manage_controller' bridge.philips_device.pk %}" style="display: inline" id="import{{ bridge.philips_device.pk }}">
                    {% csrf_token %}
                    <input name="import" type="hidden" value="{{ bridge.philips_device.pk }}">
                    <a href="#" onclick="document.forms['import{{ bridge.philips_device.pk }}'].submit();">Import All Devices</a>
                </form>
                |
                <form method="post" action="{% url 'm2m:controller_list' %}" style="display: inline" id="delete{{ bridge.philips_device.pk }}">
                    {% csrf_token %}
                    <input name="delete" type="hidden" value="{{ bridge.philips_device.pk }}">
                    <a href="#" onclick="document.forms['delete{{ bridge.philips_device.pk }}'].submit();">Delete</a>
                </form>
            </td>
        </tr>
    {% endfor %}
    <tr><td></td><td></td><td></td><td><a href="{% url 'm2m:new_controller_form' 'philips' %}">Add New Third-Party Controller</a></td></tr>
    </table>
{% else %}
    <a href="{% url 'm2m:new_controller_form' 'philips' %}">Add New Third-Party Controller</a>
{% endif %}